[Desktop Entry]
# VERSION=3.36.2
Name=SlideShow
Comment=Display a SlideShow with FEH image viewer
Keywords=SlideShow

Exec=/home/andrew/Documents/GitHub/UbuntuSlideShow/slideshow
Icon=/home/andrew/icons/SimpleBlackIcons/numeric_cam.ico
Type=Application

